spring:
  application:
    name: eureka-server
server:
  port: 1111
eureka:
  instance:
    hostname: peer1
  client:
    register-with-eureka: true # 不向注册中心注册自己
    fetch-registry: true # 注册中心的职责是维护服务实例，不需要检索服务
    service-url:
      defaultZone: http://peer2:1112/eureka/
